.heroo{
    overflow: hidden;
    background: url("../assets/Rectangle\ \(4\).png") no-repeat center/cover;
    width: 100%;
    height: 504px;
    h2{
        font-size: 66px;
        font-weight: 500;
    }
}

@media (max-width: 720px) {
    .heroo{
        h2{
            font-size: 45px;
        }
    }
}