.image{
    &__title{
        text-align: center;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 34px;
            font-weight: 400;
            color: #000;
            margin-bottom: 23px;
        }
        p{
            margin: 0 auto;
            max-width: 777px;
            font-size: 16px;
            font-weight: 400;
            color: #A0A0A0;
            margin-bottom: 23px;
        }
    }
    
}